<html>
    <head>
        
    </head>
    <body>
        <h1>Input your Black Scholes values</h1>
        <form method="post" action="/list">
            <label for="stockCost">Underlying Stock Cost:</label>
            <input type="text" name="stockCost" value="">
            <label for="exercisePrice">Option Exercise Price:</label>
            <input type="text" name="exercisePrice" value="">
            <label for="riskFreeInterestRate">Risk Free Interest Rate:</label>
            <input type="text" name="riskFreeInterestRate" value="">
            <label for="timeUntilExp">Time Until Expiration:</label>
            <input type="text" name="timeUntilExp" value="">
            <label for="volatility">Volatility: </label>
            <input type="text" name="volatility" value="">
            <input type="submit" value="Submit">
        </form>
        {% block content %}{% endblock %}
        
    </body>    
</html>